* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
$bg-color-333:#333;
$font-color-ccc:#ccc;
@mixin testLine($color:#ccc) {
  border: 1px solid $color;
}

@mixin flex($center : center) { 
  display: flex;
  justify-content: space-between;
  align-items: $center;
}
#menu {
  width: inherit;
  ul {
    width: 80vw;
    margin: 0 auto;
    @include flex;

    li {
      flex: 1;
      list-style: none;
      
      a {
        display: block;
        height: 5vh;
        text-align: center;
        line-height: 5vh;
        color: $font-color-ccc;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}
#container {
  width: 100vw;
  background-color: $bg-color-333;

  section {
    width: inherit;
    height: 100vh;
    @include testLine;
    h1 {
      color: $font-color-ccc;
    }
  }
}